{% extends "../layout.html" %}

{% block main %}

<h1>Register</h1>
<form class="form form-logon" method="post" action="/auth/register">
  <div class="form-control">
    <label class="label" for="username">Username</label>
    <input class="field" type="text" name="username" id="username" placeholder="Username"
      value={{data.username}} required />
  </div>
  <div class="form-control">
    <label class="label" for="email">Email</label>
    <input class="field" type="email" name="email" id="email" placeholder="Email address"
      value={{data.email}} required/>
  </div>
  <div class="form-control">
    <label class="label" for="password">Password</label>
    <input class="field" type="password" name="password" id="password" placeholder="Password" required/>
  </div>
  <div class="form-control">
    <label class="label" for="passwordverify">Confirm password</label>
    <input class="field" type="password" name="passwordverify" id="passwordverify" placeholder="Confirm password" required />
  </div>
  <p class="form-info">Already registered? Loginr <a href="/auth/logon">here</a></p>
  <div class="cmd">
    <button class="btn outline" type="submit">
    <i class="material-symbols-outlined icon-left">app_registration</i>
      Register
    </button>
    <a href="/">Cancel</a>
  </div>
</form>

{% endblock %}