{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "eqeqeq": "warn",
    "no-console": "warn",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "req|res|next|val"
      }
    ],
    "promise/catch-or-return": "off",
    "prettier/prettier": "warn"
  }
}
